<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col size="3">
        <img [src]="imageBrasao" width="50%" height="70%" />
      </ion-col>
      <ion-col size="9" class="ion-align-self-center">
        <ion-label>
          <h1>{{user?.Camara}}</h1>
          <p>{{user?.Partido}}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

