<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="tab1">
      <ion-label class="textoSuperior">Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-label class="textoSuperior">Votação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-label class="textoSuperior">Configuração</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
 
</ion-tabs>
