
.containerLabel2{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(131, 129, 129);
    height: 100px;
    width: 80%;
    text-align: center;
}

.containerBotao{
    margin: 0 auto;
}

.botao-concordo {

    background: #06a11b;
    border-style: outset;
    border-radius: 1000%;
    height: 100px;
    width: 200px;
    font: bold 20px arial, sans-serif;
    text-shadow:none;
}
.botao-discordo {

    background: #d10a0a;
    border-style: outset;
    border-radius: 1000%;
    height: 100px;
    width: 200px;
    font: bold 20px arial, sans-serif;
    text-shadow:none;
}
.botao-abster {

    background: #cfcc04;
    border-style: outset;
    border-radius: 1000%;
    height: 100px;
    width: 200px;
    font: bold 20px arial, sans-serif;
    text-shadow:none;
}
.botao-selecionado {

    background: #ADD8E6;
    border-radius: 1000%;
    color: white;
    border-style: outset;
    height: 100px;
    width: 200px;
    font: bold 20px arial, sans-serif;
    text-shadow:none;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    width: auto;
    margin-top: 0%;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  .containerLabel2{
      margin-top: 5%;
  }
  
  .containerBotao{
      margin-top: 5%;
  }
 






