<ion-grid id="container">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <img [src]="imageBrasao" width="50%" height="60%" />
        </ion-col>
        <ion-col size="9" class="ion-align-self-center">
          <ion-label>
            <h1>{{user?.Camara}}</h1>
            <p>{{user?.Partido}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <div class="containerLabel2" *ngIf="this.sessaoAberta">
      <label>
        <b>{{sessao?.Descricao}}</b>
      </label>
    </div>
  </ion-row>
  <ion-row>
    <div class="containerLabel2" *ngIf="!this.sessaoAberta">
      <label>Registro da Presença Indisponível</label>
    </div>
  </ion-row>
  <ion-row>
    <div class="containerBotao" *ngIf="this.sessaoAberta">
      <ion-col size="4">
        <button ion-button round [ngClass]="!concordo ? 'botao-concordo': 'botao-selecionado'" class="botao-concordo"
          (click)="confirmaVoto(sessao?.OpcoesVoto.split('/')[0],1)" >{{sessao?.OpcoesVoto.split("/")[0]}}</button>
      </ion-col>
      <ion-col size="4">
        <button [ngClass]="!discordo ? 'botao-discordo': 'botao-selecionado'" class="botao-discordo"
          (click)="confirmaVoto(sessao?.OpcoesVoto.split('/')[1],2)">{{sessao?.OpcoesVoto.split("/")[1]}}</button>
      </ion-col>
      <ion-col size="4">
        <button [ngClass]="!abster ? 'botao-abster': 'botao-selecionado'" class="botao-abster"
          (click)="confirmaVoto(sessao?.OpcoesVoto.split('/')[2],3)">{{sessao?.OpcoesVoto.split("/")[2]}}</button>
      </ion-col>
    </div>
  </ion-row>
</ion-grid>