<ion-grid id="container">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <img [src]="imageBrasao" width="50%" height="60%" />
        </ion-col>
        <ion-col size="9" class="ion-align-self-center">
          <ion-label>
            <h1>{{user?.Camara}}</h1>
            <p>{{user?.Partido}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Vereador 2</ion-label>
      <ion-select size="large" okText="ok" (ionChange)="buscarUser($event)">
        <ion-select-option size="large" *ngFor="let item of users" [value]="item.Id">{{item.Nome}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- <div id="nomeVereador">
    <ion-row>
      <ion-item>
        <ion-label id="vereador">Vereador</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-select okText="ok" (ionChange)="buscarUser($event)">
        <ion-select-option *ngFor="let item of users" [value]="item.Id">{{item.Nome}}</ion-select-option>
      </ion-select>
    </ion-row>
  </div> -->
<div id="containerSenha">
  <ion-row class="senha">
    <ion-col size="3" offset="2" class="ion-align-self-center ion-align-items-end">
      <ion-input id="senha" type="password" [(ngModel)]="senha" placeholder="Digite sua senha"></ion-input>
    </ion-col>


    <ion-col size="4">
      <ion-button size="large" color="primary" (click)="pegarValor('1')">1</ion-button>
      <ion-button size="large" color="primary" (click)="pegarValor('2')">2</ion-button>
      <ion-button size="large" color="primary" (click)="pegarValor('3')">3</ion-button><br>
      <ion-button size="large" color="primary" (click)="pegarValor('4')">4</ion-button>
      <ion-button size="large" color="primary" (click)="pegarValor('5')">5</ion-button>
      <ion-button size="large" color="primary" (click)="pegarValor('6')">6</ion-button><br>
      <ion-button size="large" color="primary" (click)="pegarValor('7')">7</ion-button>
      <ion-button size="large" color="primary" (click)="pegarValor('8')">8</ion-button>
      <ion-button size="large" color="primary" (click)="pegarValor('9')">9</ion-button><br>
      <ion-button size="large" color="primary" (click)="limpar()">
        <ion-icon color="danger" name="close-outline"></ion-icon>
      </ion-button>
      <ion-button size="large" color="primary" (click)="pegarValor('0')">0</ion-button>
      <ion-button size="large" color="primary" (click)="loginUser()">
        <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>

  <!-- <ion-row class="sair">
    <ion-button id=btnSair color="success">Sair</ion-button>
  </ion-row> -->

</ion-grid>