#title{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 0, 255);
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25%;
    transform: translateY(-50%);
    width: auto;
  }

  #containerSenha{
    margin-top: 10%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;  
    color: #3e3e3f;  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  } 

  input{
    border-radius: 3px;
  }

  img{
    margin-top: 5px;
  }

#senha{
  margin-left: 80px;
}

#vereador{
  margin-left: 270px;
}

#numeros{
  margin-left: 430px;
}

.coluna-3{
  width: 10%;
}

.coluna-9{
  width: 50%;
}

.linha{
  display: flex;
  flex-flow: row wrap;
}


.senha{
  margin-top: 2em;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#btnSair{
  margin-left: 1190px;
  margin-top: -300px;
}








  

  
  