#title{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 0, 255);
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -2%;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

.containerLabel2{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    height: 100px;
    width: 80%;
    text-align: center;
    margin-top: 10%;
}